* {
	box-sizing: border-box;
	font-family: 'Arimo', sans-serif;
}

body {
	padding-top: 50px;
	margin: 0px;
}

#calculator {
	width: 310px;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
	border-radius: 7px;
}

#screen {
	width: 100%;
    margin-bottom: 10px;
    display: block;
    height: 90px;
    font-size: 60px;
    text-align: right;
    border: none;
    color: #628a88;
    background-color: #96d2d0;
    padding: 10px;
    border-radius: 3px 0px 0px;
}

.btn {
	-ms-appearance: none;
	-webkit-appearance: none;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	border: none;
	outline: none;
	margin: 4px;
	float: right;
	font-size: 32px;
	transition: all .3s ease-in-out;
	color: rgba(0,0,0,0.5);
	cursor: pointer;
	user-select: none;
}

.btn:hover {
	box-shadow: 0px 0px 15px rgba(50,50,50,0.1);
}

.btn:active {
	box-shadow: none;
	background-color: #96d2d0;
}

.left {
	width: 70%;
    float: right;
    margin-bottom: 13px;
}

.right {
	width: 70px;
    float: right;
	margin-right: 19px;
}

.top {
	width: 70%;
    float: left;
    margin-left: 4px;
}

#equal {
	height: 127px;
    border-radius: 35px;
    background-color: #F9867B;
	box-shadow: 0px 0px 15px #f9867b;
	color: white;
}

#equal:hover {
	box-shadow: 0px 0px 20px #f9867b;
}

#del {
	font-size: 24px;
}

.op {
	background-color: rgba(200,200,200,0.1);
}

.num {
	background-color: transparent;
}