* {
	box-sizing: border-box;
	font-family: 'Arimo', sans-serif;
}

body {
	padding-top: 50px;
	margin: 0px;
}


#calculator {
	width: 310px;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
	border-radius: 7px;
	height: 475px;
}

#screen {
	width: 100%;
    display: block;
    height: 90px;
    font-size: 60px;
    text-align: right;
    border: none;
    color: white;
    background-color: #4686e6;
    padding: 7px;
    border-radius: 3px 0px 0px;
}

#history {
	width: 100%;
    margin-bottom: 10px;
    display: block;
    height: 30px;
    font-size: 16px;
    border: none;
    color: white;
    background-color: #4686e6;
    padding: 2px;
    border-radius: 0px;
    text-align: right;
    padding: 0px 10px;
}

#calculator .calc-btn {
	-ms-appearance: none;
	-webkit-appearance: none;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	border: none;
	outline: none;
	margin: 4px;
	float: right;
	font-size: 32px;
	transition: all .1s ease-in-out;
	color: rgba(0,0,0,0.5);
	cursor: pointer;
	user-select: none;
	position: relative;
}

#calculator .calc-btn:hover {
	box-shadow: 0px 0px 15px rgba(50,50,50,0.1);
}

/*#calculator .btn:active {
	box-shadow: none;
	background-color: #4686e6;
	color: white;
}*/

#calculator .calc-btn::before {
	content: '';
	display: inline-block;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	position: absolute;
	background-color: transparent;
	top: 50%;
	left: 50%;
	transition: all .3s ease-out;
	opacity: 0;
}

#calculator .calc-btn:active::before {
	width: 60px;
	height: 60px;
	opacity: 1;
	top: 0;
	left: 0;
	background-color: rgba(200,200,200,0.1);
}

.left {
	width: 70%;
    float: right;
    margin-bottom: 13px;
}

.right {
	width: 70px;
    float: right;
	margin-right: 19px;
}

.top {
	width: 70%;
    float: left;
    margin-left: 4px;
}

#calculator #equal {
	height: 127px;
    border-radius: 35px;
    background-color: #F9867B;
	box-shadow: 0px 0px 15px #f9867b;
	color: white;
	transition: all .05s ease-in-out;
}

#calculator #equal:hover {
	box-shadow: 0px 0px 20px #f9867b;
}

#calculator #equal:active {
	background-color: #f57467;
}

#del {
	font-size: 24px;
}

.op {
	background-color: rgba(200,200,200,0.1);
}

.num {
	background-color: transparent;
}

